BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
AccessModifierOffset: -4
